@charset "ISO-8859-1";
.img-fluid{
padding:0;
margin:0;
height:100%;
box-sizing: border-box;
background-size:cover;
}
body{
	background:grey;

}
.row{
	background:white;
	border-radius:20px;
}
img{
	border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;
	border-top-right-radius: 30px;
	border-bottom-right-radius: 30px;
}
.btn1{
	border:none;
	outline:none;
	height:50px;
	width:100%;
	background-color:blue;
	color:white;
	border-radius:4px;
	font-weight:bold;
}
.btn1:hover{
	background: white;
	border: 1px solid;
	color:green;
}
.custom-bg{
	background:#673ab7!important;
}
